<div class="content">
        <div class="header">
            <h1 class="page-title">添加厨师</h1>
        </div>
                <ul class="breadcrumb">
            <li><a href="javscript:;" ui-sref="home">首页</a> <span class="divider">/</span></li>
            <li class="active">添加厨师</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
    <button class="btn btn-primary" ui-sref="chef_list"><i class="icon-list"></i> 厨师列表</button>
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form>
            <label>图片</label>
            <input type="file" value="" class="input-xxlarge" ngf-change="uploadImg()" ng-model="chef.imgurl" ngf-select="true" ngf-multiple="false" ngf-accept="'image/*'" accept="image/*">
            <span style="color: red;" ng-show="iSimgurl">请上传图片</span>

            <label>名称</label>
            <input type="text" value="" class="input-xxlarge" ng-model="chef.name">
            <span style="color: red;" ng-show="iSname">请输入名称</span>

            <label>职位</label>
            <input type="text" value="" class="input-xxlarge" ng-model="chef.job">
            <span style="color: red;" ng-show="iSjob">请输入职位</span>

            <label>评分</label>
            <input type="text" value="" class="input-xxlarge" ng-model="chef.score">
            <span style="color: red;" ng-show="iSscore">请输入评分</span>

            <label>介绍</label>
            <textarea value="Smith" rows="3" class="input-xxlarge" ng-model="chef.descs"></textarea>
            <span style="color: red;" ng-show="iSdescs">请输入介绍</span>

            <label></label>
            <input class="btn btn-primary" type="button" ng-click="addChef()" value="提交" />
        </form>
      </div>
  </div>

</div>


                    
                    <footer>
                        <hr>
                        <p class="pull-right"> by <a href="" target="_blank">技术大佬</a></p>
                        

                        <p>&copy; 2020</p>
                    </footer>
                    
            </div>
        </div>
    </div>