
<div class="content">
    <div class="header">
        <h1 class="page-title">添加评论</h1>
    </div>
            <ul class="breadcrumb">
        <li><a href="javscript:;" ui-sref="home">首页</a> <span class="divider">/</span></li>
        <li class="active">添加评论</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">
                
<div class="btn-toolbar">
<button class="btn btn-primary" ui-sref="dynamic_list"><i class="icon-list"></i> 动态列表</button>
<div class="btn-group">
</div>
</div>
<div class="well">
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active in" id="home">
    <form>
        <label>内容</label>
        <textarea value="" rows="3" ng-model="dynamic.content" class="input-xxlarge" required></textarea>
        <span style="color: red;" ng-show="iScontent">请输入内容</span>

        <label></label>
        <input class="btn btn-primary" type="button" ng-click="editdynamic()" value="提交" />
    </form>
  </div>
</div>

</div>


                
                <footer>
                    <hr>
                    <p class="pull-right"> by <a href="" target="_blank">技术小白</a></p>
                    

                    <p>&copy; 2020</p>
                </footer>
                
        </div>
    </div>
</div>