    <div class="content">
        <div class="header">
            <h1 class="page-title">菜品列表</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="javascript:;" ui-sref="home">首页</a> <span class="divider">/</span></li>
            <li class="active">菜品列表</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
    <button class="btn btn-primary" ui-sref="food_add"><i class="icon-plus"></i>添加菜品</button>
  <div class="btn-group">
  </div>
</div>

<form class="form-inline food_search" id="food_search">
  <div class="form-group" style="display: inline-block;">
    <label>菜品搜索</label>
    <input type="text" class="form-control" placeholder="请输入菜品名称">
  </div>
  <button type="button" class="btn btn-default" ng-click="search()">搜索</button>
</form>

<form>
分类筛选:
<select ng-model="myVar" id="foodcls">
    <option value="" selected>全部</option>
    <option value="{{x.cid}}" ng-repeat="x in clist">{{x.cname}}
</select>
</form>

<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>序号</th>
          <th>分类</th>
          <th>图片</th>
          <th>名称</th>
          <th>购买价格</th>
          <th>市场价格</th>
          <th>评分</th>
          <th>描述</th>
          <th>是否推荐</th>
          <th style="width: 60px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in flist">
          <td>{{$index+1}}</td>
          <td>{{x.cid}}</td>
          <td><img src="{{x.imgurl}}" alt="" style="width: 100px;height: 50px;"></td>
          <td>{{x.fname}}</td>
          <td>{{x.price1}}</td>
          <td>{{x.price2}}</td>
          <td>{{x.score}}</td>
          <td>{{x.fdesc}}</td>
          <td><input style="margin-right: 5px;" name="status" type="checkbox" ng-model="x.is_rec==1?true:false" fid="{{x.fid}}"></td>
          <td>
              <a href="javascript:;" ui-sref="foodimg_list({fid:x.fid})"><i class="icon-pencil">相册</i></a>
              <a href="javascript:;" ui-sref="food_edit({fid:x.fid})"><i class="icon-pencil">修改</i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove" ng-click="getId(x.fid)">删除</i></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="pagination">
    <!-- <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul> -->
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>

<!-- 模态框 -->
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">删除提醒</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定删除吗？</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger" data-dismiss="modal" ng-click="delCate()">确定</button>
    </div>
</div>


                    
                    <footer>
                        <hr>
                        <p class="pull-right"> by <a href="" target="_blank">技术大佬</a></p>
                        

                        <p>&copy; 2020</p>
                    </footer>
                    
            </div>
        </div>
    </div>