<div class="content">
	<div class="header">
		<h1 class="page-title">后台首页</h1>
	</div>
	<ul class="breadcrumb">
		<li><a href="index.html">首页</a> <span class="divider">/</span></li>
		<li class="active">首页</li>
	</ul>
	<div class="container-fluid">
		<div class="row-fluid">
			<table border="0" cellspacing="" cellpadding="" style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 50%;">名称</td>
						<td>总数</td>
					</tr>
					<tr>
						<td style="width: 50%;">分类总数</td>
						<td>{{cate_count}}</td>
					</tr>
					<tr>
						<td style="width: 50%;">菜品总数</td>
						<td>{{food_count}}</td>
					</tr>
					<tr>
						<td style="width: 50%;">厨师总数</td>
						<td>{{chef_count}}</td>
					</tr>
					<tr>
						<td style="width: 50%;">动态总数</td>
						<td>{{dynamic_count}}</td>
					</tr>
					<tr>
						<td style="width: 50%;">订单总数</td>
						<td>{{orders_count}}</td>
					</tr>
				</tbody>

			</table>





			<footer>
				<hr>
				<p class="pull-right"> by <a href="" target="_blank">技术大佬</a></p>


				<p>&copy; 2020</p>
			</footer>

		</div>
	</div>
</div>
