<!-- 页面框架底部 -->
		<!-- Start chopcafe_footer  -->
		<footer class="chopcafe_footer chopcafe_footer_1 chopcafe_footer_2 bg_image" style="background-image: url('../Assets/home/images/footer_bg.jpg');">
			<div class="bg_overlay"></div>
			<div class="container">
				<div class="footer_widget footer_widget_1">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="footer_widget_box">
								<div class="widget_title">
									<h4>联系我们</h4>
								</div>
								<div class="widget_contact">
									<div class="info_list">
										<div class="info_icon">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<div class="info_text">
											<p>美国北部<br>伦敦嘉实街360号</p>
										</div>
									</div>
									<div class="info_list">
										<div class="info_icon">
											<i class="fas fa-envelope"></i>
										</div>
										<div class="info_text">
											<p><a href="mailto:demochopcafe@gmail.com">demochopcafe@gmail.com</a></p>
											<p><a href="mailto:chopcafeinfo@gmail.com">chopcafeinfo@gmail.com</a></p>
										</div>
									</div>
									<div class="info_list">
										<div class="info_icon">
											<i class="fas fa-phone"></i>
										</div>
										<div class="info_text">
											<p><a href="tel:+27882911891">+8123 456 7890</a></p>
											<p><a href="tel:+27882911891">+278  8291 1891</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="footer_widget_box">
								<div class="widget_title">
									<h4>营业时间</h4>
								</div>
								<div class="widget_time">
									<div class="time_list">
										<h6>星期六 - 星期天 - 星期一</h6>
										<p>早上08:00 - 晚上10:00</p>
									</div>
									<div class="time_list">
										<h6>星期二 - 星期三</h6>
										<p>早上10:00 - 晚上12:00</p>
									</div>
									<div class="time_list">
										<h6>星期五</h6>
										<p>不营业</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="footer_widget_box">
								<div class="widget_title">
									<h4>最新消息</h4>
								</div>
								<div class="widget_news">
									<div class="single_news">
										<div class="news_thumb">
											<a href="single_blog.html"><img src="../Assets/home/images/news_1.jpg" alt=""></a>
										</div>
										<div class="news_link">
											<h3><a href="single_blog.html">文章标题.文章标题.文章标题.文章标题.文章标题.</a></h3>
										</div>
									</div>
									<div class="single_news">
										<div class="news_thumb">
											<a href="single_blog.html"><img src="../Assets/home/images/news_2.jpg" alt=""></a>
										</div>
										<div class="news_link">
											<h3><a href="single_blog.html">文章标题.文章标题.文章标题.文章标题.文章标题.</a></h3>
										</div>
									</div>
									<div class="single_news">
										<div class="news_thumb">
											<a href="single_blog.html"><img src="../Assets/home/images/news_3.jpg" alt=""></a>
										</div>
										<div class="news_link">
											<h3><a href="single_blog.html">文章标题.文章标题.文章标题.文章标题.文章标题.</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-3 col-md-6 col-sm-12">
							<div class="footer_widget_box">
								<div class="widget_title">
									<h4>Follow Us on</h4>
								</div>
								<div class="footer_social_widget">
									<ul class="social_widget">
										<li><a href="home_v2.html#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="home_v2.html#" class="twitter"><i class="fab fa-twitter"></i></a></li>
										<li><a href="home_v2.html#" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
										<li><a href="home_v2.html#" class="vimeo"><i class="fab fa-vimeo-v"></i></a></li>
										<li><a href="home_v2.html#" class="behance"><i class="fab fa-behance"></i></a></li>
									</ul>
								</div>
								<div class="widget_payment">
									<div class="widget_title">
										<h4>Online Payments by</h4>
									</div>
									<div class="payment_method">
										<a href="home_v2.html#"><img src="../Assets/home/images/pay_1.png" alt=""></a>
										<a href="home_v2.html#"><img src="../Assets/home/images/pay_2.png" alt=""></a>
										<a href="home_v2.html#"><img src="../Assets/home/images/pay_3.png" alt=""></a>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="chopcafe_copyright chopcafe_copyright_1">	
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright_text">
								<p>&copy; Copyright 2019 ChopCafe. All rights reserved.</p>
							</div>
						</div>
						<!-- <div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright_text float-right">
								<p>Designed by Code Astrology</p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</footer>
		<!-- End chopcafe_footer  -->