<!-- Start chopcafe_breadcrumb section -->
		<!-- <section class="chopcafe_breadcrumb bg_image" style="background-image: url('assets/images/breadcrumb_bg.jpg');">
			<div class="bg_overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb_content text-center">
							<h2>菜品列表1</h2>
							<ul>
								<li><a href="index.html">Home</a></li>
								<li class="active">菜品列表1</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- End chopcafe_breadcrumb section
		<!-- Start chopcafe_gallery_3 section -->
		<section class="chopcafe_gallery chopcafe_gallery_3 section_padding" id="chopcafe_gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="chopcafe_filter text-center">
							<button class="chopcafe_btn active_btn" data-filter=".breakfast">早餐</button>
							<button class="chopcafe_btn" data-filter=".lunch">午餐</button>
							<button class="chopcafe_btn" data-filter=".dinner">晚餐</button>
							<button class="chopcafe_btn" data-filter=".meat">肉类</button>
							<button class="chopcafe_btn" data-filter=".desserts">甜点</button>
							<button class="chopcafe_btn" data-filter=".drinks">饮料</button>
						</div>
					</div>
				</div>
				<div class="grid_row row">
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item breakfast desserts">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_7.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_7.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item breakfast drinks lunch">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_8.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_8.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item breakfast dinner">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_9.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_9.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item breakfast meat">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_10.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_10.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item breakfast desserts">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_11.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_11.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item breakfast drinks">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_12.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_12.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item dinner lunch">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_13.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_13.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item lunch meat">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_14.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_14.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 gallery_item meat lunch">
						<div class="grid_item">
							<div class="grid_inner_item">
								<div class="chopcafe_img">
									<img src="../Assets/home/images/gallery_15.jpg" class="img-fluid" alt="">
									<div class="overlay_img"></div>
									<div class="overlay_content">
										<a href="assets/images/gallery_15.jpg" class="btn_a zoom_img"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>