<!-- Start chopcafe_single_team section -->
		<section class="chopcafe_single_team section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="chopcafe_img single_team_img">
							<img src="{{info.imgurl}}" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="chopcafe_content_box single_team_content">
							<div class="member_intro">
								<h2>{{info.name}}</h2>
								<h4>{{info.job}}</h4>
								<ul class="rating" score="{{info.score}}">
								<!-- 	<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li> -->
								</ul>
							</div>
							<div class="member_info">
								<p>{{info.descs}}</p>
							</div>
							<div class="social_widget_box">
								<h4>分享至...</h4>
								<ul class="social_widget">
									<li><a href="single_team.html#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="single_team.html#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="single_team.html#"><i class="fab fa-pinterest-p"></i></a></li>
									<li><a href="single_team.html#"><i class="fab fa-behance"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End chopcafe_single_team section -->